.livePlay_right .livePlay_right_top{background: #333;}
.livePlay_sk .open-member{background-color: #444;width: 200px;border-radius: 5px;margin-left: 100px;cursor: pointer;color: #ffffff;margin-top: 10px;}
.livePlay_sk .open-member:hover{background: #333;}
.livePlay_right_bottom .livePlay_send{background:#e62c3a;font-size: 14px;}
.kjs-vi-color{background: #e62c3a;}
.kjs-vi-radius{background: #e62c3a;}
.Made-nav a:hover{color: #333333 !important;}


