.liveJoin .zzzb{background: #e62c3a;}
.liveJoin .zzzb:hover{background: #dd2a38;}
.liveJoin .end{cursor: default;}
.liveInfo .sj{color:#666;}
.liveInfo .fx{color:#666;border:1px solid #666;}
.Made-nav a:hover{color: #333333 !important;}
.liveObj:hover{transform: translate3d(0 ,0px,0);box-shadow: 0 15px 30px rgba(0,0,0,0);}
.liveJoin .jjzb{background-color: #444444;}
.liveJoin .jjzb:hover{background-color: #333333;}
.sku-play .sku-three{background: #fff;}
.sku-play .sku-two{background: #fff;}
.sku-play .sku-one{background: #fff;}
.end-yes{border: 1px solid #333333 !important;}
.subscribeyes-ico{background: url("/resources-sjn/index/images/yijingyuyu_bull.png") no-repeat !important;}
.sku-play .sku-three{background: #fff;}
.sku-play .sku-two{background: #fff;}
.sku-play .sku-one{background: #fff;}
.end-yes{border: 1px solid #333333 !important;}
.subscribeyes-ico{background: url("/resources-sjn/index/images/yijingyuyu_bull.png") no-repeat !important;}