.sjn_restBG{background: url("/resources-sjn/course/images/sjn_xingji.png") no-repeat !important;
    display: inline-block;
    vertical-align: top;}
.kjsXxcur{background-position: -46px -3px !important;}
.kjsPfx a{background-position: -61px -3px;}
.nav-rightleft{color: #333333;}
.kjsCrnum1 a:hover{color: #333333;}
.kjsCrnum1 span:hover{color: #333333 !important;}
.Made-nav a:hover{color: #333333 !important;}
.kjsJd>div{background: #e62c3a !important;}
.kjsSmallj span{color: #e62c3a !important;}
.kjsCrnum1 a{border: 1px solid #ffffff;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    margin-top: 8px !important;
    margin-right:20px !important;
    width:auto ;
    text-align:center;
    position: relative;
}
.kjs-a{width: auto !important; height: auto;}
.kjsCrnum1 .all{height: 17px; line-height: 17px;margin-top: 8px !important;}
.nav-right{width: 100px !important;}
.nav-right a{color: #e62c3a !important;display: inline-block; margin-top: 14px; font-size: 14px !important;}

.kjsCrnum1 .all{width: auto !important;}
.kjsPf{top: 8px;}
.kjsPf{top: 8px;}