.studV-tit{color: #333333 !important;}
.study-right h2{color: #333333 !important;}
.study-tittle{color: #333333 !important;}
.studV-zx1{width: 100%;text-align:center;height: 525px;background-size: cover;padding-top: 260px;background: url('/resources-sjn/userCenter/images/stud3-bg.png') no-repeat center;background-size: 100% 100%;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/resources-sjn/userCenter/images/stud3-bg.png',  sizingMethod='scale');}