.head_logo span{color: #e62c3a !important;font-weight: inherit !important; top: 11px !important;}
.headerBg{ height: 70px !important; background: #ffffff !important;}
.head_center{height: 70px !important;background: #ffffff !important;}
.head_login{color: #666666 !important;}
.head_login a{color: #666666 !important;}
.head_logo{height: auto !important;}