.nt-step{background: #444444 !important;}
.nt-step:hover{background: #333333 !important;}
.resetNext-step{background: #444444 !important;}
.resetNext-step:hover{background: #333333 !important;}
.succeedNext-step{background: #444444 !important;}
.succeedNext-step:hover{background: #333333 !important;}
input[placeholder], [placeholder], *[placeholder] {
    color:#999 !important;
}
.Findnote-img{background: #444;}
.Findnote-img:hover{background: #333;}