* {
    margin: 0;
    padding: 0;
}

.ticket_blue {
    background: url(../images/yhjheng.png) no-repeat !important;
    background-color: rgba(255, 255, 255, 0) !important;
    float: left !important;
    width: 384px !important;
    height: 164px !important;
    overflow: hidden !important;
    margin: 35px 0px 0px 65px !important;
}

.ticket_blue .vou_color{
    color: #171717 !important;
}

.monney {
    margin-top: 12px;
    font-size: 60px;
    padding-left: 76px;
    color: #6f3707;
}

.monney span {
    font-size: 18px;
}

.explain {
    font-size: 11px;
    margin-bottom: 2px;
    color: #171717;
}

.explain div{
	font-size: 11px;
}

.explain-left {
    width: 116px;
    text-align: right;
    float: left;
}

.use {
    font-size: 24px;
    width: 20px;
    color: #6f3707;
    text-align: center;
    margin-top: 25px;
    cursor: pointer;
    height: 60px;
    float: right;
    margin-top: -137px;
    margin-right: 40px;
    font-weight: bold;
}



.overdue {
    font-size: 18px;
    color: #999999;
    text-align: center;
    margin-top: 25px;
    line-height: 60px;
    height: 60px;
    cursor: default;
}

.userR-zccount .ticket_red {
    margin-left: 30px ;
    background: url(../images/yhq_bg_red.png) no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 253px ;
    height: 305px ;
    overflow: hidden ;
    float: left ;
    margin-top: 30px;
}

.userR-zccount .ticket_red .vou_color{
    color: #ae5957;
}

.ticket_yellow {
    margin-left: 30px;
    background: url(../images/yhq_bg_yellow.png) no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 253px;
    height: 305px;
    overflow: hidden;
    float: left;
    margin-top: 30px;
}

.ticket_yellow .vou_color{
    color: #ab8436;
}

.ticket_gray {
    margin-left: 30px;
    background: url(../images/yhq_bg_gray.png) no-repeat;
    background-color: rgba(255, 255, 255, 0);
    width: 253px;
    height: 305px;
    overflow: hidden;
    float: left;
    margin-top: 30px;
}