.mrl{ background:#444444 !important; }
.mrl{ background:#333333 !important;;color: #fff !important;margin-right: 165px !important; }
.userR-tx img{border: 2px solid #dddddd;}
.btn-primary{background-color: #e62c3a;border-color: #e62c3a;}
.btn-primary:hover{background-color: #dd2a38;border-color: #dd2a38;}
.userR-title a:hover{color: #333333 !important;}