.userR-cur{border-bottom:2px solid #333333 !important;}
.userR-title a:hover{color: #333333 !important;}
.textC a{color: #444444 !important;}
.textC a:hover{color: #333333 !important;}
.mrl{ background:#444444 !important; }
.mrl{ background:#333333 !important; margin: 0 0 80px 165px !important; }
.borR p{color:#e62c3a !important;}
.crouseAdd{border: 1px solid #dddddd !important;}

