<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kjs.orm.mapper.CourseTicketMapper" >
  <resultMap id="BaseResultMap" type="com.kjs.orm.model.CourseTicket" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
    <result column="commodity_bargain_record_id" property="commodityBargainRecordId" jdbcType="INTEGER" />
    <result column="bargainer" property="bargainer" jdbcType="VARCHAR" />
    <result column="exchange_user_phone" property="exchangeUserPhone" jdbcType="VARCHAR" />
    <result column="exchange_user_id" property="exchangeUserId" jdbcType="INTEGER" />
    <result column="validity_begin_time" property="validityBeginTime" jdbcType="TIMESTAMP" />
    <result column="validity_end_time" property="validityEndTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code, commodity_name, commodity_bargain_record_id, bargainer, exchange_user_phone, 
    exchange_user_id, validity_begin_time, validity_end_time, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course_ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course_ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kjs.orm.model.CourseTicket" >
    insert into course_ticket (id, code, commodity_name, 
      commodity_bargain_record_id, bargainer, exchange_user_phone, 
      exchange_user_id, validity_begin_time, validity_end_time, 
      status)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{commodityName,jdbcType=VARCHAR}, 
      #{commodityBargainRecordId,jdbcType=INTEGER}, #{bargainer,jdbcType=VARCHAR}, #{exchangeUserPhone,jdbcType=VARCHAR}, 
      #{exchangeUserId,jdbcType=INTEGER}, #{validityBeginTime,jdbcType=TIMESTAMP}, #{validityEndTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kjs.orm.model.CourseTicket" >
    insert into course_ticket
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="commodityName != null" >
        commodity_name,
      </if>
      <if test="commodityBargainRecordId != null" >
        commodity_bargain_record_id,
      </if>
      <if test="bargainer != null" >
        bargainer,
      </if>
      <if test="exchangeUserPhone != null" >
        exchange_user_phone,
      </if>
      <if test="exchangeUserId != null" >
        exchange_user_id,
      </if>
      <if test="validityBeginTime != null" >
        validity_begin_time,
      </if>
      <if test="validityEndTime != null" >
        validity_end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBargainRecordId != null" >
        #{commodityBargainRecordId,jdbcType=INTEGER},
      </if>
      <if test="bargainer != null" >
        #{bargainer,jdbcType=VARCHAR},
      </if>
      <if test="exchangeUserPhone != null" >
        #{exchangeUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="exchangeUserId != null" >
        #{exchangeUserId,jdbcType=INTEGER},
      </if>
      <if test="validityBeginTime != null" >
        #{validityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validityEndTime != null" >
        #{validityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kjs.orm.model.CourseTicket" >
    update course_ticket
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="commodityName != null" >
        commodity_name = #{commodityName,jdbcType=VARCHAR},
      </if>
      <if test="commodityBargainRecordId != null" >
        commodity_bargain_record_id = #{commodityBargainRecordId,jdbcType=INTEGER},
      </if>
      <if test="bargainer != null" >
        bargainer = #{bargainer,jdbcType=VARCHAR},
      </if>
      <if test="exchangeUserPhone != null" >
        exchange_user_phone = #{exchangeUserPhone,jdbcType=VARCHAR},
      </if>
      <if test="exchangeUserId != null" >
        exchange_user_id = #{exchangeUserId,jdbcType=INTEGER},
      </if>
      <if test="validityBeginTime != null" >
        validity_begin_time = #{validityBeginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validityEndTime != null" >
        validity_end_time = #{validityEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kjs.orm.model.CourseTicket" >
    update course_ticket
    set code = #{code,jdbcType=VARCHAR},
      commodity_name = #{commodityName,jdbcType=VARCHAR},
      commodity_bargain_record_id = #{commodityBargainRecordId,jdbcType=INTEGER},
      bargainer = #{bargainer,jdbcType=VARCHAR},
      exchange_user_phone = #{exchangeUserPhone,jdbcType=VARCHAR},
      exchange_user_id = #{exchangeUserId,jdbcType=INTEGER},
      validity_begin_time = #{validityBeginTime,jdbcType=TIMESTAMP},
      validity_end_time = #{validityEndTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>