.MadeBt{color: #666666;}
.kecheng{background: #444444;}
.kecheng:hover{background: #333333;}
.jiaoyu p{color: #222222;}
.jiaoyu li{color: #999999;}
.jiaoyu li:hover{color: #222222;}
.xskIndustry li{color: #999999;}
.xskIndustry li:hover{color: #222222;}
.layui-layer-btn0{ background: #444444 !important;}
.layui-layer-btn0:hover{background: #333333 !important;}
.Made-nav a:hover{color: #333333 !important;}
.layui-layer-btn .layui-layer-btn0{border-color:#ffffff !important;}
.xskPost{height: auto !important; overflow: hidden !important;}
.jiaoyu li{margin: 15px 28px 0px 0 !important;}